body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #1f1f1f;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 0;
}

nav h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

section {
    padding: 4em 0;
}

section h2 {
    color: #1f1f1f;
}

footer {
    background-color: #1f1f1f;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

a:hover {
    text-decoration: underline;
}

#mainbody {
    background-color: aliceblue;
    border-radius: 20px;
    box-shadow: 20px 10px grey;
}

img {
    border-radius: 38%;
}